<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="TemplateMo">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <em><title>COVIDSAFE | HOME</title></em>

    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="static/css/font-awesome.css">

    <link rel="stylesheet" href="static/css/templatemo-lava.css">

    <link rel="stylesheet" href="static/css/owl-carousel.css">
    <style>
         input:focus::placeholder {
            color: transparent;
            }
    </style>

</head>

<body>

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->


    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="index.html" class="logo">
                           COVIDSAFE
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="#welcome" class="menu-item">Home</a></li>
                            <li class="scroll-to-section"><a href="#about" class="menu-item">About</a></li>
                            <li class="scroll-to-section"><a href="#testimonials" class="menu-item">COVID-19 Tips</a></li>
                            <li class="submenu">
                                <a href="javascript:;">LOGIN</a>
                                <ul>
                                    <li><a href="/register" class="submenu" title="Login Here !!!">New User</a></li>
                                    <li><a href="/login" class="submenu" title="Be part of the Us !!!">Existing User</a></li>
                                </ul>
                            </li>
                            <li class="scroll-to-section"><a href="#contact-us" class="menu-item">Contact Us</a></li>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->


    <!-- ***** Welcome Area Start ***** -->
    <div class="welcome-area" id="welcome">
        <section>
            <div class="header-text">
                <div class="container">
                    <div class="row">
                        <div class="left-text col-lg-6 col-md-12 col-sm-12 col-xs-12"
                            data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                            <h1>This is a Simple App which will ensure that the user's are <em>SAFE</em></h1>
                            <p>We will ensure the user's safety by verifying their location with containment zones.</p>
                            <p>@copy; 2022 <a href="mailto:covidsfapp@gmail.com">@covidsafe.in</a>  </p>
                            <a href="#about" class="main-button-slider">Know Us Better </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ***** Header Text Start ***** -->
        </section>
        <!-- ***** Header Text End ***** -->
    </div>
    <!-- ***** Welcome Area End ***** -->

    <!-- ***** Features Big Item Start ***** -->
    <section class="section" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12"
                    data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                    <div class="features-item">
                        <div class="features-icon">
                            <h2 style="color:rgba(109, 205, 205, 0.194);">01</h2>
                            <img src="/static/images/images1/dashboard.png" alt="" style="height:90px;width: 90px;">
                            <h4>Trend Analysis</h4>
                            <p>Analysing the Covid situation throughout the Country</p>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12"
                    data-scroll-reveal="enter bottom move 30px over 0.6s after 0.4s">
                    <div class="features-item">
                        <div class="features-icon">
                            <h2 style="color:rgba(109, 205, 205, 0.194);">02</h2>
                            <img src="/static/images/images1/map.png" alt="" style="height:90px;width: 90px;">
                            <h4>Zone Optimization</h4>
                            <p>Verifying your location instantly with containment zones</p>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12"
                    data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                    <div class="features-item">
                        <div class="features-icon">
                            <h2 style="color:rgba(109, 205, 205, 0.194);">03</h2>
                            <img src="/static/images/images1/siren.png" alt="" style="height:90px;width: 90px;">
                            <h4>Alert Service</h4>
                            <p>Alerting you in order to protect from containment zones </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Features Big Item End ***** -->

    <div class="left-image-decor"></div>
    <div class="right-image-decor"></div>

    <!-- ***** Testimonials Starts ***** -->
    <section class="section" id="testimonials">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="center-heading">
                        <h2>Whole nation against <em> <a href="https://www.who.int/health-topics/coronavirus">COVID-19</a></em></h2>
                        <p>As the whole nation is fighting against COVID-19,Let us cooperate with the nation to make our country COVID-FREE</p>
                    </div>
                </div>
                <div class="col-lg-10 col-md-12 col-sm-12 mobile-bottom-fix-big"
                    data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                    <div class="owl-carousel owl-theme">
                        <div class="item service-item">
                            <div class="author">
                                <i><img src="../static/images/images1/masks.png" alt="Tip One"></i>
                            </div>
                            <div class="testimonial-content">
                                <ul class="stars">
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                                <h4>Wear Masks</h4>
                                <p>" Protective masks are said to lower the chances of coronavirus entering our respiratory system through droplets that are present in the air. Wearing of masks is especially recommended for people living in densely populated areas."</p>
                            </div>
                        </div>
                        <div class="item service-item">
                            <div class="author">
                                <i><img src="../static/images/images1/lock.png" alt="Tip two"></i>
                            </div>
                            <div class="testimonial-content">
                                <ul class="stars">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                                <h4>Stay Home If You Feel Unwell</h4>
                                <p>“Stay at home if you feel unwell, even with a slight fever and cough.
                                    Why? By staying home and not going to work or other places, you will recover faster and will avoid transmitting diseases to other people”</p>
                            </div>
                        </div>
                        <div class="item service-item">
                            <div class="author">
                                <i><img src="../static/images/images1/syringe.png" alt="Tip Three"></i>
                            </div>
                            <div class="testimonial-content">
                                <ul class="stars">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                                <h4>Vacinnate Yourself</h4>
                                <p>“Once you receive your first shot, your body begins producing antibodies to the coronavirus. These antibodies help your immune system fight the virus if you happen to be exposed, so it reduces your chance of getting the disease.”</p>
                            </div>
                        </div>
                        <div class="item service-item">
                            <div class="author">
                                <i><img src="../static/images/images1/handwash.png" alt="Fourth Author"></i>
                            </div>
                            <div class="testimonial-content">
                                <ul class="stars">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                                <h4>Wash your hands and be Hygine</h4>
                                <p>"Washing your hands properly with soap and water for at least 20 seconds is necessary to get rid of germs. If soap and water are not accessible, clean your hand with hand sanitizer. Sanitizer kills germs from your hands."</p>
                            </div>
                        </div>
                        <div class="item service-item">
                            <div class="author">
                                <i><img src="../static/images/images1/meditation.png" alt="Tip Three"></i>
                            </div>
                            <div class="testimonial-content">
                                <ul class="stars">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                                <h4>Do Exercise</h4>
                                <p>"Physical activity and relaxation techniques can be valuable tools to help you remain calm and continue to protect your health during this time. WHO recommends 150 minutes of moderate-intensity or 75 minutes of vigorous-intensity physical activity per week, or a combination of both"</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Testimonials Ends ***** -->



    <!-- ***** Footer Start ***** -->
    <footer id="contact-us">
        <div class="container">
            <div class="footer-content">
                <div class="row">
                    <!-- ***** Contact Form Start ***** -->
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <div class="contact-form">
                            <form id="contact" action="mailto:covidsfapp@gmail.com" method="post" enctype="text/plain">
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <fieldset>
                                            <input name="name" type="text" id="name" placeholder="Full Name" required=""
                                                style="background-color: rgba(250,250,250,0.3);">
                                        </fieldset>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <fieldset>
                                            <input name="email" type="text" id="email" placeholder="E-Mail Address"
                                                required="" style="background-color: rgba(250,250,250,0.3);">
                                        </fieldset>
                                    </div>
                                    <div class="col-lg-12">
                                        <fieldset>
                                            <textarea name="message" rows="6" id="message" placeholder="Your Message"
                                                required="" style="background-color: rgba(250,250,250,0.3);"></textarea>
                                        </fieldset>
                                    </div>
                                    <div class="col-lg-12">
                                        <fieldset>
                                            <button type="submit" id="form-submit" class="main-button">Send Message
                                                Now</button>
                                        </fieldset>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- ***** Contact Form End ***** -->
                    <div class="right-content col-lg-6 col-md-12 col-sm-12">
                        <h2>Your <em>feedback </em>matters</h2>
                        <p>Please help us to grow with your valuable feedbacks and suggestions
                            <br><br>You may follow our contact page for more detail.</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="static/js/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="static/js/popper.js"></script>
    <script src="static/js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="static/js/owl-carousel.js"></script>
    <script src="static/js/scrollreveal.min.js"></script>
    <script src="static/js/waypoints.min.js"></script>
    <script src="static/js/jquery.counterup.min.js"></script>
    <script src="static/js/imgfix.min.js"></script>

    <!-- Global Init -->
    <script src="static/js/custom.js"></script>
      <!-- Watson Agent -->
        <script>
            window.watsonAssistantChatOptions = {
            integrationID: "81e6b842-31d0-4e5f-99fc-d9b8414b80c4", // The ID of this integration.
            region: "au-syd", // The region your integration is hosted in.
            serviceInstanceID: "028d42a0-8904-4a02-8ca6-5f554ce484f7", // The ID of your service instance.
            onLoad: function(instance) { instance.render(); }
            };
            setTimeout(function(){
            const t=document.createElement('script');
            t.src="https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js";
            document.head.appendChild(t);
            });
        </script>

</body>
</html>